.form { 
    width: 30vw;
    height: 70vh;
    background-color: rgb(245, 245, 245);
}

.form-inner {
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 100%;
    margin: auto;
}

input {
    border: none;
    border-radius: 0;
    height: 2rem;
    padding: 0 2rem;
}
