.modal-background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
    transition: opacity 250ms ease-in-out;
}

.modal {
    position: relative;
    margin: 2rem;
    max-width: 600px;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.75);
}

.modal-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    margin: auto;
}

.modal-controls button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: inherit;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
    margin: auto;
}

.images-container {
    display: flex;
    max-height: 100vh;
    max-width: 900px;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.modal-image {
    object-fit: cover;
    width: 100%;
}

.modal-image:hover {
    cursor: zoom-in;
}