.item .gray {
    margin: 0;
}

.item .bold {
    margin-right: 1rem;
}

.rating {
    display: flex;
}

.item {
    height: 100%;
    width: 25vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
